$app-background-color: #f5f5f5;

$list-header-color: #f5f7fa;
$empty-background-color: #fafafa;
$empty-border-color: #dcdfe6;
$hint-text-color: #606266;
$hint-border-color: #409eff;
$hint-background-color: #ecf5ff;
$title-color: #303133;

$background-error: #fff5f5;
$border-error: #f56c6c;
$text-error: #f56c6c;